<h1 mat-dialog-title>Login</h1><br>

<mat-form-field appearance="fill">
  <mat-label>Enter your email</mat-label>
  <input (keyup.enter)="Login()" matInput placeholder="pat@example.com" [formControl]="email" required>
  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  <mat-hint *ngIf="EmailError" style="color: red">User not found!</mat-hint>
</mat-form-field><br><br>

<mat-form-field appearance="fill">
  <mat-label>Enter your password</mat-label>
  <input (keyup.enter)="Login()" matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
  <mat-hint *ngIf="PasswordError" style="color: red">Password is incorrect!</mat-hint>
</mat-form-field><br><br>

<div class="mat-button" mat-dialog-actions>
  <button class="Button__"  mat-raised-button (click)="Login()">Login</button>
  <button  class="Button__" mat-raised-button (click)="CreateAccountDialog()"   [mat-dialog-close]="true">Create an Account</button>
</div><br>

